#root {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* //////////////////////// */
.GameGrid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 2px;
}
.Island {
  background-color: #888;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: red;
}

.Island:has(> .green) {
  background-color: greenyellow !important;
}
.Island:has(> .red) {
  background-color: red !important;
}

.red {
  color: red;
  background-color: red !important;
}
.green {
  color: greenyellow;
  background-color: greenyellow !important;
}

.path {
  background-color: greenyellow !important;
}

main {
  display: flex;
  gap: 50px;
  margin-left: 50px;
}
.speed__wrap {
  display: flex;
  gap: 5%;
}
.speed {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.speed > span {
  font-size: 20px;
}
.speed button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  /* ... */
  font-size: 20px;
  padding: 0.3em 0.7em;
}
